@import url(https://fonts.googleapis.com/css?family=Roboto);

html{
  height: 100%;
}
.formoid-solid-dark{
  margin:0 auto;
}
.formoid-solid-dark>div,
.formoid-solid-dark>.title{
  margin: 8px;
}
.formoid-solid-dark .error-field .required{
  color:#FF9999;
}
.formoid-solid-dark .error-field input,
.formoid-solid-dark .error-field input[type=text],
.formoid-solid-dark .error-field input[type=password],
.formoid-solid-dark .error-field input[type=email],
.formoid-solid-dark .error-field input[type=url],
.formoid-solid-dark .error-field input[type=date],
.formoid-solid-dark .error-field input[type=number],
.formoid-solid-dark .error-field input[type=tel],
.formoid-solid-dark .error-field textarea{
  border-color:#D893A1;
  background-color: #FBE6F2;
}
.formoid-solid-dark label.error{
  display:inline-block;
  font-size:0.9em;
}
.formoid-solid-dark .error,
.formoid-solid-dark .error #recaptcha_widget_div{
  padding: 3px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;

  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #c09853;
}
.formoid-solid-dark .error h4 {
  color: #b94a48;
  margin: 0;
}

.formoid-solid-dark .error .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.formoid-solid-dark .column{
  float:left; 
}
/* width = parseInt(100/columns.length)*/
.formoid-solid-dark .column1{ width:100%;}
.formoid-solid-dark .column2{ width:50%; }
.formoid-solid-dark .column3{ width:33%; }
.formoid-solid-dark .column4{ width:25%; }
.formoid-solid-dark .column5{ width:20%; }



.formoid-solid-dark .large{
  width: 100%;
  *width: 94%;
}
.formoid-solid-dark .medium{
  width: 50%;
  *width: 47%;
}
.formoid-solid-dark .small{
  width: 25%;
  *width: 23%;
}

.formoid-solid-dark textarea.large{
  width: 100%;
  *width: 94%;
  height: 20em;
}
.formoid-solid-dark textarea.medium{
  width: 100%;
  *width: 94%;
  height: 10em;
}
.formoid-solid-dark textarea.small{
  width: 100%;
  *width: 94%;
  height: 5.5em;
}

/* address select style */
.formoid-solid-dark .element-address .country {
  position: relative;
}

.frmd{
  display:none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}


.blurBg,
.blurBg-true{
  background-attachment: fixed;
  background-image:
    -webkit-linear-gradient(5deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    -webkit-radial-gradient(40% 60%, ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    -webkit-radial-gradient(50% -10%, circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    -webkit-radial-gradient(100% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    -webkit-radial-gradient(0% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    -webkit-radial-gradient(90% 60%, ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    -webkit-radial-gradient(20% 10%, circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);
  
  background-image:
    linear-gradient(85deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    radial-gradient(50% -10%,circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    radial-gradient(0% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    radial-gradient(90% 60%,ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    radial-gradient(20% 10%,circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);/* top left black */
  /*
    radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(50% -10%,circle closest-corner, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(0% 100%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
    radial-gradient(1% 2%,circle farthest-side, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  */
}

#formoid-info {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: #c09853;
  font-size: 12px;
  max-width: 100%;
}/*


Solid style


*/
@font-face {
  font-family: formoid;
  src:url('formoid.eot');
  src:url('formoid.eot?#iefix') format('embedded-opentype'),
  url('formoid.ttf') format('truetype'),
  url('formoid.woff') format('woff'),
  url('formoid.svg#formoid') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('icons.eot');
  src: url('icons.eot#iefix') format('embedded-opentype'),
       url('icons.woff') format('woff'),
       url('icons.ttf') format('truetype'),
       url('icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.formoid-solid-dark{
  font-size: 1em;
  line-height: 1.231;

  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.formoid-solid-dark label.title{
  font-size: 1em;
  font-weight: 500;
  width: auto;
}
.formoid-solid-dark input[type=button]{
  outline: none;
  font-size: 1em;
}
.formoid-solid-dark input[type=submit]{
  outline: none;
  font-size: 1.2em;
}
.formoid-solid-dark>div{
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}
.formoid-solid-dark h2 {
  margin: 0.2em 0;
  font-size: 2em;
  font-weight: 300;
  color: #fff;
}
.formoid-solid-dark h3.title {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.formoid-solid-dark h3.section-break-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.formoid-solid-dark label {
  display: block;
  margin-bottom: 3px;
  clear: both;
}

.formoid-solid-dark div, .formoid-solid-dark span, .formoid-solid-dark label, .formoid-solid-dark input, .formoid-solid-dark textarea, .formoid-solid-dark select, .formoid-solid-dark button, .formoid-solid-dark ul, .formoid-solid-dark li, .formoid-solid-dark a{
  font-family: inherit;
  color: inherit;
}
/* Global Declaration */

/*
CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/


/* submit + title */
.formoid-solid-dark div.submit,
.formoid-solid-dark div.title{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
.formoid-solid-dark div.submit{
  vertical-align: middle;
  text-align: right;
  border-top: 2px solid #d6dbdf;
  background-color: #F3F5FA;
}
.formoid-solid-dark div.title {
  border-radius: 5px 5px 0 0;
}
.formoid-solid-dark div.title h2{
  margin-left: 27px;
}


/* Button & submit*/
.formoid-solid-dark input[type=button],
.formoid-solid-dark input[type=submit]{
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 1px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;

  border: 2px solid #bdc3c7;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius:3px;
  box-shadow: inset 0 -0.3em 0 rgba(0, 0, 0, 0.2);
}

.formoid-solid-dark input[type=button][disabled] {
  cursor: default;
  opacity: 0.65;
}

.formoid-solid-dark input[type=submit]{
  text-align: center;
  opacity: 1;
  color: #ffffff;
  border: none;
  right: 20px;
  margin-right: 27px;
  padding: 11px 41px;
}

.formoid-solid-dark input[type=submit]:hover{
  text-decoration: none;
}
.formoid-solid-dark input[type=submit]:active{
  box-shadow: inset 0 -0.15em 0 rgba(0, 0, 0, 0.2);
}

/* File input */
.formoid-solid-dark .element-file label{
  position: relative;
}
.formoid-solid-dark .element-file .title{
  position: static;
}
.formoid-solid-dark .element-file .button {
  z-index: 1;
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  float: none;
  font-size: 1em;
  color: #fff;

  padding: 1.8% 1.2em 0 1.2em;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: inset 0 -0.3em 0 rgba(0, 0, 0, 0.2);

  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.formoid-solid-dark .element-file .button:active{
  box-shadow: inset 0 -0.15em 0 rgba(0, 0, 0, 0.2);
}
.formoid-solid-dark .element-file .file_text{
  overflow: hidden;
  color: #A9A9A9;
  background-color: #fff;
  -webkit-transition: border-color .25s ease-in-out;
  transition: border-color .25s ease-in-out;
}

.formoid-solid-dark .element-file .file_input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}
* html .formoid-solid-dark .element-file .file_input,
*+html .formoid-solid-dark .element-file .file_input{
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: auto;
  opacity: 1;
  filter: alpha(opacity=100);
}
* html .formoid-solid-dark .element-file .button,
*+html .formoid-solid-dark .element-file .button{
  display: none;
}
* html .formoid-solid-dark .element-file label,
*+html .formoid-solid-dark .element-file label,
* html .formoid-solid-dark .element-file .file_text,
*+html .formoid-solid-dark .element-file .file_text{
  border: none;
}
* html .formoid-solid-dark .element-file .title,
*+html .formoid-solid-dark .element-file .title{
  display: block;
}


/* Radio & checkbox */
.formoid-solid-dark div.element-checkbox, .formoid-solid-dark div.element-radio{
  overflow:hidden;
  line-height: 2.2;
}
.formoid-solid-dark input[type=checkbox],
.formoid-solid-dark input[type=radio]{
  z-index:1;
  position:absolute;
  float: left;
  opacity:0.01;
  font-size: 1.3em;
  width: 1.2em;
  height: 1em;
  margin: 0;
  cursor: pointer;
}

.formoid-solid-dark input[type=radio]+span,
.formoid-solid-dark input[type=checkbox]+span{
  margin-right:-19px;
  padding-top: 0;
  z-index:0;
  position: relative;
  left: 0;
  top: 0;
  vertical-align:top;
  font-size: 1em;
  line-height: 1.3;
  cursor: pointer;
}
.formoid-solid-dark input[type=checkbox]+span:before{
  position: relative;
  font-family: formoid;
  margin-right: 0.2em;
  color: transparent;
  font-size: 1em;
  line-height: 1;
  vertical-align:top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* checkbox */
.formoid-solid-dark input[type=checkbox]+span:before{
  content: "\e004";
  font-size: 0.65em;
  padding: 0.3em;
  font-weight: bold;
  margin-right: 0.6em;
  line-height: 2;
  border-style: solid;
  border-width: 0.3em;
  -webkit-transition: border-color .5s ease-in-out;
  transition: border-color .5s ease-in-out;
  border-radius:0.3em;
}

/* radio */
.formoid-solid-dark input[type=radio]+span:before {
  position: relative;
  font-family: formoid;
  margin-right: 0.2em;
  color: transparent;
  font-size: 1.4em;
  line-height: 1;
  vertical-align:top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}
.formoid-solid-dark input[type=radio]+span:before{
  content: "\e001";
}
.formoid-solid-dark input[type=radio]:checked+span:before{
  content: "\e000";
}